body {
  background: #f4f5f7;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 16px;
  outline: none;
}

.question-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.question-container .title {
  background-color: white;
  border: 2px solid #d9e1e8;
  border-radius: 8px;
  min-width: 50vw;
  padding: 36px;
  text-align: center;
}
.question-container .score-count {
  background: #3498db;
  border-radius: 16px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 8px 16px;
  position: absolute;
  top: 6px;
}

.answer-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.answer-options button:disabled {
  cursor: default;
  opacity: 0.8;
}
.answer-options button:disabled:hover {
  background-color: unset;
  border-color: #d9e1e8;
}
.answer-options .answer-flag {
  flex: 40%;
  font-size: 100px;
  margin: 0 25px;
}
.answer-options .text-button {
  background-color: white;
  border: 2px solid #d9e1e8;
  border-radius: 8px;
  flex: 40%;
  height: 50px;
  margin: 25px;
  min-width: 100px;
}
.answer-options .text-button:hover {
  background-color: rgba(52, 152, 219, 0.1);
  border-color: #3498db;
}
@media (max-width: 840px) {
  .answer-options .text-button {
    flex: auto;
    width: 200px;
  }
}
@media (max-width: 840px) {
  .answer-options {
    flex-direction: column;
  }
}

.loader {
  animation: spin 2s linear infinite;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  height: 60px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.result {
  align-items: center;
  border-radius: 8px;
  color: white;
  display: none;
  justify-content: center;
  margin: 20px;
  padding: 12px 20px;
  width: 100px;
}
.result--correct {
  background-color: green;
}
.result--incorrect {
  background-color: red;
}

.quiz-options {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.quiz-options label {
  font-weight: 500;
}
.quiz-options select {
  border-radius: 8px;
  font-size: 16px;
  height: 50px;
  margin: 20px;
  width: 100px;
}
.quiz-options button {
  background-color: #2b90d9;
  color: white;
  padding: 8px 16px;
  margin: 20px;
  border-radius: 16px;
  transition: 0.2s ease-in-out;
}

.category-options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: column;
}
.category-options input {
  margin-left: 20px;
  margin-top: 20px;
}

.quiz-end-container {
  align-items: center;
  background-color: white;
  border: 2px solid #3498db;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25vh 25vw;
  padding: 25px;
}

.restart-button {
  background-color: #2b90d9;
  border-radius: 16px;
  color: white;
  margin: 10px;
  padding: 8px 16px;
}

.category-card {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.category-card input {
  display: none;
}
.category-card__body {
  display: inline-flex;
  margin: 0 16px;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  border-radius: 12px;
  border: 3px solid #ccc;
  flex-direction: column;
}
.category-card__body--checked {
  border: 3px solid #3498db;
  position: relative;
}

.check-icon {
  right: 5px;
  top: 5px;
  position: absolute;
}

.checkbox-icon {
  flex: 5;
  padding-top: 12px;
}

.checkbox-label {
  flex: 1;
  color: #ccc;
  width: 100%;
  padding-bottom: 5px;
  text-align: center;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.checkbox-label--checked {
  color: black;
}

.category-selector {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}/*# sourceMappingURL=App.css.map */